<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

  <title>Fake News Detector</title>

</head>

<body class="bg-yellow-100">
  <header class="text-gray-600 body-font -my-8">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <img class="object-cover object-center rounded" alt="hero" src="../static/icons8-news.svg">
        <span class="ml-3 text-xl">Fake News Detector</span>
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <a href="/" class="mr-5 hover:text-gray-900">Home</a>
        <a href="/about" class="mr-5 hover:text-gray-900">About</a>
        <a href="/choose_format" class="mr-5 hover:text-gray-900">Detector</a>

      </nav>
    </div>
  </header>
  <hr>
  <section class="text-gray-600 body-font -my-8">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <h2 class="text-xs text-green-500 tracking-widest font-medium title-font mb-1">Machine learning project</h2>
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Fake News Detector</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">We are living in a new era of misinformation. Not only
          found in politics, but also in areas like vaccination, stock values and nutrition and it’s influencing
          elections, threatening democracy and fuelling extremism all around the world. We believe tackling this problem
          and identifying fake news before they spread is essential.</p>

        <br>
        <br>
        <section class="text-gray-600 body-font -my-8">
          <div class="container mx-auto flex px-10 py-4 md:flex-row flex-col items-center">
            <div
              class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-center mb-16 md:mb-0 items-center text-center">
              <h1 class="title-font sm:text-3xl text-3xl mb-4 font-medium text-gray-900">About the project

              </h1>
              <div class="h-full bg-gray-100 p-8 rounded">
                <p class="mb-8 leading-relaxed text-justify">This Fake News Detector was created as a final project of
                  the Data
                  Analytics bootcamp in Ironhack. Since the 2016 U.S. presidential election, “fake news” has become a
                  common term in the mainstream vernacular and it's impact of everone's lives in veing largely
                  studied.With the rapid development of social networking services, each user in a social network has
                  become both a spreader and receiver of information, and millions of people present, comment on, or
                  share various topics on social media every day. Several studies show how fake news spread faster than
                  real
                  news in these means and how it affected elections, daily consumption and poloration of sociaty.
                  Because of all this I believe that having a tool that help us to identify Fake News from Reliable
                  News is crucial. This project was my attempt to fulfill this need with the hope of it being a first
                  step
                  to a future better informed and less polarised.</p>
              </div>

            </div>
            <br>
            <br>
            <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
              <img class="object-cover object-center rounded" alt="hero"
                src="..\static\image-20161207-18063-1336rnj.jpg">
            </div>
          </div>

          <br>
          <!-- <h1 class="text-3xl font-medium title-font text-gray-900 mb-1 text-left">About me</h1> -->
          <br>
          <div class="text-gray-600 body-font -my-8">
            <div class="container px-5 py-4 mx-auto">
              <h1 class="text-3xl font-medium title-font text-gray-900 mb-1 text-left">About me</h1>
              <div class="flex flex-wrap -m-4">
                <div class="p-4 md:w-1/2 w-full">
                  <div class="h-full bg-gray-100 p-8 rounded">

                    <p class="leading-relaxed mb-6 text-justify"> <img alt="testimonial"
                        src="..\static\profile_photo.png"
                        class="w-20 h-20 rounded-full flex-shrink-0 object-cover align-top">
                      <span class="flex-grow flex flex-col pl-4">
                      </span>Teresa is a Data Analyst/Scientist, proficient in Python,
                      Machine Learning, Statistical Analysis, MySQL and Tableau, with international and
                      multidisciplinary
                      experience in the civil engineering and water industry which can be applied in perceiving the
                      business goal of the data-driven projects.

                      Throughout her career Teresa lived and worked in 5 countries (Portugal, Spain, Macao, Palestine
                      and UK), experienced new cultures and easily adapted to work in very multicultural and diverse
                      teams.

                      Teresa has developed deep technical knowledge in engineering and data analysis, has strong problem
                      solving skills and critical thinking, and is a key team player. Her curious and fast learning
                      nature makes her an avid explorer of new technologies and proactive setter of automation of
                      processes.
                      Teresa has also interest in expanding her knowledge in AI.

                      Outside of work, Teresa is passionate about travelling, being outdoors, sustainability, music and
                      literature.
                    </p>
                    <div>
                      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
                        <a href="https://www.linkedin.com/in/salvadorteresa" target="_blank"><img alt="testimonial"
                            src="..\static\linkedin.png" class="w-8 h-8 rounded-full object-left">
                          <!--
                              
                            -->

                          <a href="https://github.com/tesalv" target="_blank"><img alt="testimonial"
                              src="..\static\github.png" class="w-8 h-8 rounded-full ">

                      </nav>
                      <!-- <a class="inline-flex items-center"> -->




                    </div>
                  </div>
                </div>
              </div>

        </section>
  </section>

  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>


</body>

</html>